<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>product LIST</h1>
      
    <table class="table table-dark">
        <thead>
        <tr>
            
                <td>NAME</td>
                <td>PRICE</td>
                <td>QTY</td>
                <td>COLOR</td>
            
        </tr>
        </thead>
        <tbody>
            
            {% for prod in products  %}
            <tr>
                <td>{{prod.name}}</td>
                <td style="color:{% if prod.price < 1000  %} yellow {% endif %}">{{prod.price}}</td>
                <td>{{prod.qty}}</td>
                <td style="background-color: {{prod.color}};">{{prod.color}}</td>
            </tr>
            {% endfor %}
                
        </tbody>
    </table>
        
</body>
</html>
