<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>email</th>
                <th>age</th>
                <th>salary</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            
            {% for emp in employees  %}
                    <tr>
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="{% url 'delete_employee' emp.id %}">DELETE</a>
                        </td>
                    </tr>
            {% endfor %}
                
        </tbody>
    </table>
</body>
</html>